ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li{
    padding: 20px;
}

.Header{
    height: 90px;    
    background-color: #394D6B;     
    color: white;    
    font-size: 30px;    
    padding-top: 30px;    
    font-family: "Copperplate", Lucida Handwriting, monospace;
    font-size: 29px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.Introduction{
    position: absolute;
    top: 400px;
    left: 140px;
    font-family: "Verdana", Lucida Handwriting, monospace;
    color: white;    
    font-size: 40px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.WhatIDo{
    color: #394D6B;    
    font-size: 55px;
    float: center;       
    font-family: "Copperplate", Lucida Handwriting, monospace;
    font-size: 29px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.Contact{
    position: absolute;
    top: 160px;
    left: 140px;
    font-family: "Verdana", Lucida Handwriting, monospace;
    color: navy;    
    font-size: 35px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.Project-Image{
    width: 350px;
    height: 300px;
    padding-top: 50px;

}
.Intro-Image{
    position: absolute;
    top: 100px;
    right: 200px;
    width: 430px;
    height:550px;
    border: 3px solid #394D6B;
}
.Resume{
    position: absolute;
    top: 100px;
    right: 100px;
    width: 1375px;
    height: 2000px;
    border: 3px solid #394D6B;
}


.Footer{
    height: 90px;    
    background-color: #394D6B;     
    color: white;
    font-size: 30px;    
    padding-top: 30px;    
    font-family: "Copperplate", Lucida Handwriting, monospace;
    font-size: 29px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}