ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li{
    padding: 20px;
}

.Header{
    height: 90px;    
    background-color: #394D6B;     
    color: white;    
    font-size: 30px;    
    padding-top: 30px;    
    font-family: "Courier New", Courier, monospace;
    font-size: 29px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.About{
    font-family: "Courier";
    font-size:45px;
    margin: 10px 0 0 10px;
    position: absolute;
    top: 5%;
    left: 43%;
    bottom: 20%;
    white-space: nowrap;
    overflow: hidden;
    width: 3.9em;
    animation: type 1s steps(10, end); 
}


.Project-Image-1{
    width: 300px;

}


.Footer{
    height: 90px;    
    background-color: #394D6B;     
    color: white;    
    font-size: 30px;    
    padding-top: 30px;    
    font-family: "Courier New", Courier, monospace;
    font-size: 29px;
    letter-spacing: 2.2px;
    word-spacing: 2.4px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}